
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    padding: 0px 100px;
    background: url(../images/board-carpenter.jpg) no-repeat center center;
    background-size: cover;
}

/*.searches
{
    display: flex;
    justify-content:flex-start;
}

.searches p+p
{
    padding-left: 3em;
}*/

/* NAV BAR */
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a 
{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover 
{
    background-color: #ddd;
    color: black;
}
     
.topnav a.active 
{
    background-color: #4CAF50;
    color: white;
}

/* ANCHOR TAGS, SEARCH BUTTONS, SUBMIT BUTTONS, CREATE AND DELETE BUTTONS, SELECT AND RADIO BUTTONS */

a 
{
    text-decoration: none;
}

a:hover 
{
    text-shadow: 2px 1px 2px grey;
}

input, select
{
    font-family: 'Montserrat', sans-serif;
    font-size: inherit;
}

    input[type=text], input[type=number], input[type=date], select {
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit], #createButton {
        width: 40%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

input[type=submit]:hover, #createButton:hover
{
    background-color: #45a049;
    box-shadow: 1px 1px 5px black;
}

        input[type=text]:hover, input[type=number]:hover, input[type=date]:hover, #createButton:hover, select:hover
        {
            box-shadow: 2px 1px 5px black;
        }

input[type=text]:focus 
{
    background-color: #f4f8f9;
}

input[type=radio]
{
    width: 20px;
    height: 20px;
}

input[type=radio]:hover 
{
    transition: transform .2s;
    transform: scale(1.2, 1.2);
}

#deleteButton 
{
    background-color: #cc0000;
}

#warning 
{
    color: #cc0000;
}

span 
{
    color: red;
    font-size: 1em;
}
/* TABLE STYLE */

.table td, .table th
{
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) 
{
    background-color: #cccccc;
}

.table tbody tr:hover
{
    box-shadow: 1px 1px 5px black;
}

.table th
{
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/* DESCRIPTION TABLE STYLE*/
dt
{
    font-size: inherit;
    padding-bottom: 5px;
}

dd
{
    font-size: .9em;
}

dd:nth-child(even) 
{
    text-shadow: 0 0 1px black;
}